.profile__btn_action_add {
  width: 149px;
  height: 49px;
  border: 1px solid white;
  background: url(../../../../images/add_btn.svg) black no-repeat 50%;
  cursor: pointer;
  margin-top: 34px;
  transition: opacity .2s linear;
}

.profile__btn_action_add:hover {
  opacity: .6;
}

@media screen and (max-width: 770px) {
  .profile__btn_action_add {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .profile__btn_action_add {
    margin-top: 34px;
  }
}